<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Contact Us</title>
</head>
<body>

    <h1>Contact Us</h1>

    <form method="POST" action="/">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ 'flash-message' if category == 'error' else 'success-message' }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required minlength="10"></textarea>

        <button type="submit">Submit</button>
    </form>

</body>
</html>
